:root {
	--thm-primary: #e89529;
	--thm-primary-rgb: 232, 149, 41;
}

.main-slider-shape-1 {
	background-image: url(../../images/colors/color-4/shapes/main-slider-shape-1.png);
}

.main-slider-shape-3 {
	background-image: url(../../images/colors/color-4/shapes/main-slider-shape-3.png);
}

.main-slider-two-shape-2 {
	background-image: url(../../images/colors/color-4/shapes/main-slider--two-shape-2.png);
}

.page-header-shape-1 {
	background-image: url(../../images/colors/color-4/shapes/page-header-bg-1-1.png);
}